/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
header.header.menu_fixed {
  background: rgba(248, 176, 82, 0.79);
}
.m-0auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.white-text {
  color: #ffffff !important;
}
